@charset "UTF-8";

html{
    font-size: 62.5%;
}
*,*::before, *::after{
    box-sizing: border-box;
}

body{
    /* 背景画像をスクロールされないようにし、シングルページレイアウトらしい視覚効果を演出 */
    background: #151515 no-repeat fixed left bottom;
    background-size: cover;
    color: #fff;
    text-align: center;
    font-size: 1.4rem;
    font-family: 'Raleway', "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

/* ABOUT */

.header{
    padding: 170px 30px 80px;
}

.header-title-sub{
    margin: 0 0 30px;
    letter-spacing: 1px;
    font-size: 2.2rem;
}
/* テキスト両端の線 */
.header-title-sub::before,
.header-title-sub::after{
    content: '';
    display: inline-block;
    width: 140px;
    height: 2px;
    margin: 0 30px;
    background-color: #fff;
    vertical-align: middle;
}

.header-title{
    margin: 50px 0 40px;
    font-size: 5.6rem;
}

.button{
    display: inline-block;
    width: 140px;
    padding: 15px;
    border-radius: 4px;
    background-color: #afa58d;
    color: #fff;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 1.7rem;
    transition: all .3s;
}
.button:hover{
    opacity: 0.9;
    background-color: #fff;
    color: #000;
}

.about{
    padding: 80px 30px;
    background-color: #fff;
    color: #333;
}

.section-title{
    position: relative;
    display: inline-block;
    margin: 30px 0 15px;
    padding-bottom: 7px;
    letter-spacing: 2px;
    font-size: 4rem;
}
.section-title::before{
    content: '';
    position: absolute;
    right: 0;
    bottom: 5px;
    left: 0;
    border-bottom: 1px solid #999;

}
.section-title::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: 1px;
    left: 0;;
    border-bottom: 1px solid #999;
}

.about-text{
    margin: 30px 0;
    line-height: 2.5;
}
/* SKILL */
.skills{
    padding: 80px 0;
    color: #fff;
}
table{
    width: 100%;
    border-spacing:3px;
}
th,td{
    /* display: inline-block; */
    display: inline-block;
    width: 30%;
    padding: 10px;
}








/* WORKS */
.works{
    background-color: #383634;
    padding: 80px 0;
}
.works-wrapper{
    display: table;
    width: 100%;
    margin-top: 60px;
    table-layout: fixed;
}
.work-box{
    display: table-cell;
}
.work-image{
    display: block;
    width: 300px;
    height: auto;
    margin: 0 auto;
}
.image{
    display: inline-block;
    height: 100%;
}
img{
    height: 100%;
}
.work-text{
    font-size: 1.2rem;
    line-height: 2;
}
.work-text .button{
    width: 25%;
    margin-top: 20px;
    padding: 5px;
}

.button-ghost{
    border: 1px solid #fff;
    background-color: rgba(255, 255, 255, 0.15);
}


