@charset "UTF-8";

html{
    font-size: 62.5%;
}
*,*::before, *::after{
    box-sizing: border-box;
}

body{
    /* 背景画像をスクロールされないようにし、シングルページレイアウトらしい視覚効果を演出 */
    background: #151515 no-repeat fixed left bottom;
    background-size: cover;
    color: #fff;
    text-align: center;
    font-size: 1.4rem;
    font-family: 'Raleway', "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

/* ABOUT */

.header{
    padding: 170px 30px 80px;
}

.header-title-sub{
    margin: 0 0 30px;
    letter-spacing: 1px;
    font-size: 2.2rem;
}
/* テキスト両端の線 */
.header-title-sub::before,
.header-title-sub::after{
    content: '';
    display: inline-block;
    width: 140px;
    height: 2px;
    margin: 0 30px;
    background-color: #fff;
    vertical-align: middle;
}

.header-title{
    margin: 50px 0 40px;
    font-size: 5.6rem;
}

.button{
    display: inline-block;
    width: 140px;
    padding: 15px;
    border-radius: 4px;
    background-color: #afa58d;
    color: #fff;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 1.7rem;
    transition: all .3s;
}
.button:hover{
    opacity: 0.9;
    background-color: #fff;
    color: #000;
}

.about{
    padding: 80px 30px;
    background-color: #fff;
    color: #333;
}

.section-title{
    position: relative;
    display: inline-block;
    margin: 30px 0 15px;
    padding-bottom: 7px;
    letter-spacing: 2px;
    font-size: 4rem;
}
.section-title::before{
    content: '';
    position: absolute;
    right: 0;
    bottom: 5px;
    left: 0;
    border-bottom: 1px solid #999;

}
.section-title::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: 1px;
    left: 0;;
    border-bottom: 1px solid #999;
}

.about-text{
    margin: 30px 0;
    line-height: 2.5;
}
/* SKILL */
.skills{
    padding: 80px 0;
    color: #fff;
}
table{
    width: 100%;
    border-spacing:3px;
}
th,td{
    /* display: inline-block; */
    display: inline-block;
    width: 30%;
    padding: 10px;
}

/* WORKS */
.works{
    background-color: #383634;
    padding: 80px 0;
}
.works-wrapper{
    display: table;
    width: 100%;
    margin-top: 60px;
    table-layout: fixed;
}
.work-box{
    display: table-cell;
}
.work-image{
    display: block;
    width: 300px;
    height: auto;
    margin: 0 auto;
}
.image{
    display: inline-block;
    height: 100%;
}
img{
    height: 100%;
}
.work-text{
    font-size: 1.2rem;
    line-height: 2;
}
.work-text .button{
    width: 25%;
    margin-top: 20px;
    padding: 5px;
}

.button-ghost{
    border: 1px solid #fff;
    background-color: rgba(255, 255, 255, 0.15);
}


/* CONTACT */
.contact{
    padding: 80px 0 150px;
}
.contact-form{
    width: 50%;
    margin: 50px auto 0
}
.contact-form input[type=text],
.contact-form textarea{
    display: block;
    width: 100%;
    margin-bottom: 30px;
    padding: 15px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 0;
    background-color: white;
    color: #000;
    outline: none;
}
.contact-form textarea{
    height: 150px;
}
.contact-form input[type=text]:focus,
.contact-form textarea:focus{
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.7);
}
.contact-form input[type=submit]{
    display: block;
    width: 200px;
    margin: 20px auto 0;
    padding: 15px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
    font-size: 1.4rem;
    outline: none;
}
.contact-form input[type=submit]:hover{
    background-color: rgba(255, 255, 255, 0.05);;
}

.footer{
    padding: 12px 0;
    font-size: 1.3rem;
}

/* レスポンシブ対応化、今回はスマートフォンとタブレット向けの記述のみ */
@media (max-width: 768px){
.header-title-sub::before,
.header-title-sub::after{
    display: block;
    width: 80%;
    margin: 10px auto;
    font-size: 1.7rem;
}
.header-title{
    margin-top: 35px;
    font-size: 5rem;
}
.button{
    margin: 5px;
}
.button:hover{
    opacity: 1;
}

.section-title{
    font-size: 2.5rem;
}
.body{
    font-size: 1.3rem;
}
.about-text{
    line-height: 1.8;
}

.works-wrapper,
.work-box{
    display: block;
}
.work-box{
    margin-bottom: 60px;
}

.contact-form{
    width: 80%;
}
}